[submodule "emacs.d/themes/solarized"]
	path = emacs.d/themes/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs.d/asdf"]
	path = emacs.d/asdf
	url = git://common-lisp.net/projects/asdf/asdf.git
[submodule "emacs.d/theme-changer"]
	path = emacs.d/theme-changer
	url = https://github.com/hadronzoo/theme-changer.git
