[submodule "emacs.d/themes/solarized"]
	path = emacs.d/themes/solarized
	url = https://github.com/schober/emacs-color-theme-solarized.git
[submodule "emacs.d/asdf"]
	path = emacs.d/asdf
	url = git://common-lisp.net/projects/asdf/asdf.git
[submodule "emacs.d/theme-changer"]
	path = emacs.d/theme-changer
	url = https://github.com/hadronzoo/theme-changer.git
[submodule "emacs.d/git-emacs"]
	path = emacs.d/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "emacs.d/highlight-parentheses"]
	path = emacs.d/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
[submodule "gnome-terminal/solarized"]
	path = gnome-terminal/solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "emacs.d/paredit"]
	path = emacs.d/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "emacs.d/powerline"]
	path = emacs.d/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
